.img-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.img-grid img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.column-container {
    display: flex;
    flex-direction: column;
}

.column-container div {
    margin: 10px;
}

.card {
    background: linear-gradient(var(--bg-card1) 0%, var(--bg-card2) 100%);
    padding: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 8px 4px 8px;
}