.img-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.img-grid img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.column-container {
    display: flex;
    flex-direction: column;
}

.column-container div {
    margin: 10px;
}