@import url(keyframes.css);

:root {
    /* Main Colors */

    --color1: #E3F2FD;
    --color2: #90CAF9;
    --color3: #61b8ff;
    --color4: #2196F3;
    --color5: #0D47A1;
    --txt-color1: #0f0f0f;


    /* Variables for backgrounds and text */

    --bg-body1: var(--color1);
    --bg-body2: var(--color2);

    --text: var(--txt-color1);

    --bg-card1: var(--color3);
    --bg-card2: #90CAF9;

    --bg-nav: var(--color5);
    --accent: var(--color4);
    --footer: var(--color5);
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    /* background: var(--bg-body); */
    color: var(--text);
    scroll-behavior: smooth;

    background: linear-gradient(270deg, var(--bg-body1), var(--bg-body2), var(--bg-body2), var(--bg-body1));
    background-size: 400% 400%;
    animation: gradientShift 30s ease infinite;
}

h2 {
    text-align: center;
    font-family: 'Bitcount Ink', "Petr van Blokland";
    font-size: clamp(2rem, 10vw, 100px);

    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "ROND" 0;
}

a {
    text-decoration: none;
    color: var(--text);

    transition: all 0.2s;
}

a:visited,
a:hover,
a:active {
    color: var(--text);
    text-decoration: none;
}

a:hover {
    color: var(--accent);

    transition: all 0.2s;
}

h3 i {
    padding-right: 10px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: linear-gradient(0deg, var(--footer) 90%, transparent 100%);
}

.card video {
    max-width: 1000px;
    display: block;
    margin: 0 auto;
}







.social-link {
    padding: 0px 20px;
    color: white;
    text-decoration: none;
}

.social-link:visited,
.social-link:hover,
.social-link:active {
    color: white;
    text-decoration: none;
}

.logo {
    padding: 0px 30px;
    padding-bottom: 10px;
}

/* .doto-pixel {
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "ROND" 0;
} */



/* BUTTON */
.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: var(--accent);
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 8px 4px 8px;

    transition: all 0.2s;
}

.btn:hover {
    transform: scale(1.05);

    transition: all 0.2s;
}



html {
    scroll-behavior: smooth;
}

/* KEYFRAMES */