@import url(keyframes.css);

:root {
    --bg-body1: #17274d;
    --bg-body2: #45b7d1;
    /* --bg-body4: #0f172a; */

    --bg-card: #1e293b;
    --bg-nav: #0a1e49;
    --accent: #38bdf8;
    --footer: #091d47;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    /* background: var(--bg-body); */
    color: white;
    scroll-behavior: smooth;

    background: linear-gradient(270deg, var(--bg-body1), var(--bg-body2), var(--bg-body2), var(--bg-body1));
    background-size: 400% 400%;
    animation: gradientShift 30s ease infinite;
}

.social-link {
    padding: 0px 20px;
    color: white;
    text-decoration: none;
}

.social-link:visited,
.social-link:hover,
.social-link:active {
    color: white;
    text-decoration: none;
}

.logo {
    padding: 0px 30px;
    padding-bottom: 10px;
}

h2 {
    text-align: center;
    font-family: 'Bitcount Ink', "Petr van Blokland";
    font-size: clamp(2rem, 10vw, 100px);

    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "ROND" 0;
}

/* .doto-pixel {
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "ROND" 0;
} */

/* NAVBAR */
.navbar {
    position: fixed;
    align-items: center;
    top: 0;
    width: 100%;
    background: linear-gradient(var(--bg-nav) 60%, transparent 100%);
    /* justify-content: space-between; */
    display: flex;
    padding: 15px 0px;
    padding-bottom: 30px;
}

.navbar a {
    color: white;
    margin-left: 15px;
    text-decoration: none;

    transition: all 0.2s;
}

.navbar a:hover {
    color: var(--accent);

    transition: all 0.2s;
}

/* SECTIONS */
.section {
    padding: 100px 20px;
    max-width: 90%;
    margin: auto;
}

/* HERO */
.hero {
    text-align: center;
    padding-top: 150px;
}

.card {
    background: var(--bg-card);
    padding: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 8px 4px 8px;
}

/* BUTTON */
.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: var(--accent);
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 8px 4px 8px;

    transition: all 0.2s;
}

.btn:hover {
    transform: scale(1.05);

    transition: all 0.2s;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: linear-gradient(0deg, var(--bg-nav) 90%, transparent 100%);
}



/* KEYFRAMES */