:root {
    --bg-body: #0f172a;
    --bg-card: #1e293b;
    --bg-nav: #0a1e49;
    --accent: #38bdf8;
    --footer: #091d47;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: var(--bg-body);
    color: white;
    scroll-behavior: smooth;
}

.social-link {
    padding: 0px 20px;
    color: white;
    text-decoration: none;
}

.social-link:visited,
.social-link:hover,
.social-link:active {
    color: white;
    text-decoration: none;
}

.logo {
    padding: 0px 30px;
    padding-bottom: 10px;
}

/* NAVBAR */
.navbar {
    position: fixed;
    align-items: center;
    top: 0;
    width: 100%;
    background: linear-gradient(var(--bg-nav) 60%, rgba(0, 0, 0, 0) 100%);
    justify-content: space-between;
    display: flex;
    padding: 15px 0px;
    padding-bottom: 30px;
}

@media (max-width: 768px) {
    .navbar {
        display: block;
        justify-content: normal;
        /* or unset */
    }
}

.navbar a {
    color: white;
    margin-left: 15px;
    text-decoration: none;

    transition: all 0.2s;
}

.navbar a:hover {
    color: var(--accent);

    transition: all 0.2s;
}

/* SECTIONS */
.section {
    padding: 100px 20px;
    max-width: 90%;
    margin: auto;
}

/* HERO */
.hero {
    text-align: center;
    padding-top: 150px;
}

/* PROJECT GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.column-container {
    display: flex;
    flex-direction: column;
}

.column-container div {
    margin: 10px;
}

.card {
    background: var(--bg-card);
    padding: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 8px 4px 8px;
}

/* BUTTON */
.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: var(--accent);
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 8px 4px 8px;

    transition: all 0.2s;
}

.btn:hover {
    transform: scale(1.05);

    transition: all 0.2s;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: linear-gradient(0deg, var(--bg-nav) 90%, var(--bg-body) 100%);
}